---
# Server Timzone + Locale
timezone: Europe/Berlin
locale: en_US.UTF-8

# Swap
# Uncommend here and in /roles/common/tasks/main.yml
swap_enabled: true
swap_file_path: /swapfile
swap_file_size_kb: 1024

# General settings
deploy_dir: /home/deploy/apps/
deploy_user: deploy
deploy_password:
deploy_app_name:
deploy_server_hostname:

# Nginx
nginx_https_enabled: false

# Certbot
certbot_url: https://dl.eff.org/certbot-auto
certbot_dir: /opt/certbot
certbot_email: info@urbandevs.io

# Authorized Hosts
# This copies your local public key to the remote machine
# for passwordless login. Modify this!
ssh_public_key_files:
  - /path/to/ssh

# Postgres
postgres_user:
postgres_password:

# Ruby
ruby_install_version: 0.6.1
chruby_version: 0.3.9
ruby_version: 2.4.1

# Rails
rails_secret_key_base:
puma_workers: 4
puma_threads: 4,16
rails_environment: production

# Elasticsearch
elasticsearch_version: 6.6.1

# Monit
monit_sidekiq_enabled: true
